h1 {
  font-size: 2em;
  line-height: 50px;
}

h2 {
  font-size: 1.4em;
  line-height: 30px;
}

h3 {
  font-size: 1.1em;
  padding: 0;
  line-height: 20px;
}

body {
  padding: 15px;
  background-color: #f7f7f7;
}

.addFeedButton {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.addFeedButton:hover {
  color: #2296f3;
}

.rs-avatar {
  margin-top: -10px;
}

.rs-content {
  min-height: 500px;
}

.rs-footer {
  background-color: white;
  padding: 40px;
  border-radius: 6px;
}

.feedlist {
  max-height: 500px;
  overflow-y: auto;
}
