h1 {
  font-size: 2em;
  line-height: 50px;
}

h2 {
  font-size: 1.4em;
  line-height: 30px;
}

h3 {
  font-size: 1.1em;
  padding: 0;
  line-height: 20px;
}

body {
  padding: 15px;
  background-color: #f7f7f7;
}

a:hover,
a:active,
a:visited {
  color: #056676;
}

.rs-sidenav-default.rs-sidenav-collapse-in .rs-dropdown-menu > li.rs-dropdown-item-active > .rs-dropdown-item-content,
.rs-sidenav-default.rs-sidenav-collapsing .rs-dropdown-menu > li.rs-dropdown-item-active > .rs-dropdown-item-content {
  color: #e8ded2;
}

.rs-sidenav-default.rs-sidenav-collapse-in .rs-dropdown-menu > li.rs-dropdown-item-active > .rs-dropdown-item-content,
.rs-sidenav-default.rs-sidenav-collapsing .rs-dropdown-menu > li.rs-dropdown-item-active > .rs-dropdown-item-content,
.rs-sidenav-default.rs-sidenav-collapse-in
  .rs-dropdown-menu
  > li.rs-dropdown-item-active
  > .rs-dropdown-item-content:hover,
.rs-sidenav-default.rs-sidenav-collapsing
  .rs-dropdown-menu
  > li.rs-dropdown-item-active
  > .rs-dropdown-item-content:hover,
.rs-sidenav-default.rs-sidenav-collapse-in
  .rs-dropdown-menu
  > li.rs-dropdown-item-active
  > .rs-dropdown-item-content:focus,
.rs-sidenav-default.rs-sidenav-collapsing
  .rs-dropdown-menu
  > li.rs-dropdown-item-active
  > .rs-dropdown-item-content:focus {
  background-color: #056676;
}

.rs-tag {
  background-color: #5eaaa8;
  color: white;
}

.rs-avatar {
  margin-top: -10px;
}

.rs-content {
  min-height: 500px;
}

.rs-footer {
  background-color: white;
  padding: 40px;
  border-radius: 6px;
}

.rainbow-text {
  background-image: linear-gradient(to left, #e8ded2, #a3d2ca, #5eaaa8, #056676);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
  .rs-modal-full .rs-modal-dialog {
    margin-left: 0px;
    margin-right: 0px;
  }
}
