h1 {
  font-size: 2em;
  line-height: 50px;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
  padding: 0;
  line-height: 20px;
}

body {
  padding: 15px;
  background-color: #f7f7f7;
}

.addFeedIcon {
  cursor: pointer;
}

.addFeedIcon:hover {
  color: red;
}

.rs-avatar {
  margin-top: -10px;
}

.rs-content {
  min-height: 500px;
}

.rs-footer {
  background-color: white;
  padding: 40px;
  border-radius: 6px;
}
